.card-site
  margin-bottom: 30px

.card-spa
  margin-bottom: 40px

.card-title
  background-position: center !important
  background-repeat: no-repeat !important
  background-size: cover !important
  min-height: 230px
  
.card-text
  min-height: 90px

.mdl-card__title-text 
  color: #DC3545 !important
